* {
  padding: 0;
  margin: 0;
}

/* .main-content {
  width: 500px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
} */
.body-lite{
  display: flex;
  justify-content: center;
  align-items: center;
}

main{
  flex-basis: 50%;
  margin-top: 10%;
}
form{
  display: flex;
  flex-direction: column;
  width: 75%;
}

.text-editor-header {
  background-color: #ecf0f1;
  width: 75%;
  margin-top: 2rem;
  padding: 5px;
}
.input-new-note::placeholder{
  color: #e54b40;
}

.text-editor-header .btn {
  border: none;
  outline: none;
  background-color: transparent;
  margin-right: 10px;
  border: none;
  padding: 7px;
  cursor: pointer;
}

.content {
  min-height: 100px;
  color: white;
  border: 1px solid #ecf0f1;
  border-top: 0px;
  padding: 20px;
  background-color: #7b8190;
  border-radius: 10px;
  width: 75%;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}
.content::placeholder{
  color: white;
}

main .save-note, main .update-note{
  width: 30px;
  height: 30px;
  margin-bottom: 1rem;
  border-radius: 9999px;
  background-color: #f8a826;
  font-size: 20px;
  border: none;
  color: white;
  cursor: pointer;
}

.note-btn-cont{
  display: flex;
  height: 4dvh;
}

.summary {
  max-width: 500px;
}

.loading {
  width: 150px;
}

#newNote {
}

.input-new-note {
  color: #e54b40;
  background: none;
  border: none;
  margin-bottom: 1rem;
  font-size: 2rem;
}
