:root{
    --sea-blue: #1D2947;
    --clementine-orange: #E54B40;
    --pop-yellow: #F8A826;
  }

#login-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-page h1{
    font-size: 4rem;
    margin: 5rem 0;
}

#login-page h2{
    font-size: 2.4rem;
    margin-bottom: 3rem;
}

#login-page form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-page input{
    display: block;
    margin-bottom: 1rem;
    width:480px;
    padding-left: 20px;
    height: 6dvh;
    border-radius: 99999px;
    background-color: rgba(255, 255, 255, 0.562);
    color: var(--sea-blue);
}

::placeholder{
    color: var(--sea-blue);
}

#login-page form button{
    width: 500px;
    height: 6dvh;
    margin-bottom: 1rem;
    border-radius: 9999px;
    background-color: var(--clementine-orange);
    color: white;
}

#login-page a{
    text-decoration: none;
    color: var(--clementine-orange);
}

#login-page a:hover{
    text-decoration: underline;
}

@media screen and (max-width: 800px) {
    #login-page input{
        width: 70%;
    }

    #login-page form button{
        width: 70%;
    }
}