.question-card {
  padding: 10px;
  position: relative;
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
}

.delete-btn {
  position: absolute;
  top: 5px;
  right: -140px;
  background-color: transparent;
  color: var(--clementine-orange);
  border: 1px solid var(--clementine-orange);
  border-radius: 999px;
  padding: 0.3rem 0.9rem;
  margin-right: 1rem;
}

.questions-title-card {
  font-size: 16px;
}

.tooltip {
  position: absolute;
  top: 100%;
  left: 35%;
  transform: translateX(-50%);
  background-color: rgba(85, 85, 85, 0.5);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s;
}

.question-card:hover .tooltip {
  opacity: 1;
}
